BODY
{
	counter-reset: chapter;
	margin-left: 60pt;
	margin-right: 40pt;
}

H1:before
{
	content: counter(chapter) ". ";
	counter-increment: chapter;
}

H1
{
	counter-reset: section paragraph;
	font-family: Helvetica,Arial,Verdana;
	font-size: 18pt;
	margin-top: 40pt;
	page-break-before: always;
	page-break-after: avoid;
}

H1.first
{
	page-break-before: avoid;
}

H2:before
{
	content: counter(chapter) "." counter(section) " ";
	counter-increment: section;
}

H2
{
	counter-reset: paragraph;
	font-family: Helvetica,Arial,Verdana;
	font-size: 12pt;
	margin-top: 20pt;
	margin-bottom: 5pt;
	page-break-before: auto;
	page-break-after: avoid;
}

H3:before
{
	content: counter(chapter) "." counter(section) "." counter(paragraph) " ";
	counter-increment: paragraph;
}

H3
{
	font-family: Helvetica,Arial,Verdana;
	font-size: 10pt;
	font-weight: bold;
	margin-top: 20pt;
	margin-bottom: 5pt;
	page-break-before: auto;
	page-break-after: avoid;
}

P
{
	font-family: Helvetica,Arial,Verdana;
	font-size: 11pt;
	margin-left: 20pt;
	margin-top: 2pt;
	margin-bottom: 6pt;
	page-break-before: avoid;
	page-break-inside: avoid;
}

UL
{
	margin-top: 0pt;
	margin-bottom: 0pt;
}

LI
{
	font-family: Helvetica,Arial,Verdana;
	font-size: 10pt;
	margin-left: 20pt;
}

TD
{
	font-family: Helvetica,Arial,Verdana;
	font-size: 10pt;
	vertical-align: top;
}

PRE
{
	background-color: #F5F5F5;
	font-size: 9.5pt;
	margin-left: 20pt;
}